.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  /* background-color: white; */
  background-color: #1b1b1b;
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
  height: 95%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  position: relative;

}

.modalContainer::-webkit-scrollbar {
  display: none;
}


.modalContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.contentSection {
  padding: 20px;
  display: flex;
  gap: 20px;
  /* flex-direction: column;*/
}

.closeButton {
  position: sticky;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: transparent;
  border: none;
  color: #ffffff;
  align-self: flex-end;
  cursor: pointer;
}

.modalBody {
  display: flex;
  gap: 20px;
}

.imageContainer {
  flex-shrink: 0;
  width: 220px;
  height: auto;
}

.coverImg {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.contentContainer {
  flex-grow: 1;
  color: white;
}


.contentTitle {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.contentGenre {
  margin-bottom: 20px;
}

.contentDescription {
  font-size: 16px;
  color: #a5a5a5;
  line-height: 1.5;
  padding: 20px;
  white-space: pre-line;
}

.toggleButton {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.likeSection {
  margin-top: 20px;
}

.likeButton {
  display: flex;
  align-items: center;
  background-color: #ff4b5c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.likeButton:hover {
  background-color: #ff2a3d;
}

.likeButton.liked {
  background-color: #f24d6b;
}

.likeButton .icon {
  margin-right: 8px;
}

.linkButtons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.platform {
  cursor: pointer;
}

.contentOptions {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.spacing {
  margin-left: 100px;
}