.contentOptions {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}

.tabButtons {
  display: flex;
  gap: 1rem;
}

button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background: none;
}

.activeTab {
  font-weight: bold;
  border-bottom: 2px solid #000;
  /* 탭 활성화 시 밑줄 추가 */
}

.tabContent {
  margin-top: 1rem;
}