.genreButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.genreButtons button {
  padding: 5px 22px;
  width: auto;
  height: 40px;
  background: #FFFFFF;
  /*border-radius: 50px;*/
  border-style: none;
}

.genreButtons .active {
  background-color: #999DFD; /* 선택된 버튼의 배경색 */
  color: #FFFFFF; /* 선택된 버튼의 텍스트 색상 */
}